{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  
  <div class="center-block">
      <div class="jumbotron">
  {% if error_message %}
  <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">Warning!</h4>
      <p class="mb-0">{{error_message}}</p>
  </div>{% endif %}
    
      <div class="ContentForm">
        <div id="ContenedorReg">
            <center>
                <h1>Registrarse</h1>
            </center>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            {{form.NUA}}
          </div>
          <br>
          <div class="input-group input-group-lg">
            {{form.conferencia}}
          </div>
          <br>

          {% if not error_message %}
          <tr>
            <td><a class="btn btn-lg btn-primary  btn-signin" href="{% url 'conferencia:index' %}"
                type="button">Cancelar</a></td>
            <td><button class="btn btn-lg btn-primary btn-signin" id="IngresoLog" type="submit">Registrarse</button>
            </td>
          </tr>
          {% else %}
          <td><a class="btn btn-lg btn-primary  btn-signin" href="{% url 'conferencia:index' %}"
              type="button">Regresar</a></td>
          {% endif %}

        </div>
      </div>
</div>
  </div>
</form>
{% endblock %}