{% extends 'base/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <div class="center-block">
        <div class="jumbotron">
            {% if hora_novalida %} 
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Warning!</h4>
                <p class="mb-0">{{hora_novalida}}</p>
            </div>
            {% endif %}
            <div id="ContenedorReg" > 

            {{ form.as_p }}

            {% if not hora_novalida %}
            <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog"
                type="submit">Registrarse</button>
            {% else %}
            <a class="btn btn-lg btn-primary btn-block btn-signin" href="{% url 'conferencia:home' %}"
                type="button">Aceptar</a>
            {% endif%}
        </div>
    </div>
    </div>
    </div>
</form>
{% endblock %}