{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div id="ContenedorReg">
        	
            <center><h1>Registrarse</h1></center>
            
            <center><div class="ContentForm">
              <div class="ContentForm">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input type="text" class="form-control" name="NUA" placeholder="NUA" aria-describedby="sizing-addon1"
                    required>
                </div>
                <br>
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" name="Hora_Entrada" class="form-control" 
                    aria-describedby="sizing-addon1" placeholder="Hora de Entrar" required>
                </div>
                <br>
                <div class="input-group input-group-lg">
                  <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" name="Hora_Salida" class="form-control" 
                    aria-describedby="sizing-addon1" placeholder="Hora de Salida" required>
                </div>
                <br>
                <div class="input-group input-group-lg">
                  {{form.conferencia}}
                </div>
                <br>
          
               
                
				<button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Registrarse</button>
		 </div>	
		 </div></center>
        </div>
</form>
{% endblock %}