{% extends 'base/base.html' %} 

{% block title %} Conferencias {% endblock %}
{% block content %}



<div class="center-block">
    <div class="jumbotron">
        <table class="table table-hover">
            <thead>
                <tr class="table table-dark" style="text-align: left">
                    <td>Auditorio</td>
                    <td>Titulo</td>
                    <td>Explicacion</td>
                    <td>Fecha</td>
                    <td>Hora Inicio</td>
                    <td>Hora Fin</td>
                    <td>Tipo</td>
                    <td>Ponente</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% if object_list %} {% for evento in object_list %}
                <tr style="text-align: left">
                    <td>{{evento.id_aud.Nombre}}</td>
                    <td>{{evento.Titulo}}</td>
                    <td>{{evento.explicacion}}</td>
                    <td>{{evento.Fecha}}</td>
                    <td>{{evento.Hora_ini}}</td>
                    <td>{{evento.Hora_fin}}</td>
                    <td>{{evento.tipo.Nombre}}</td>
                    <td>{{evento.ponente.Nombre}}</td>
                    <td><a class="btn btn-primary  btn-signin" href="{% url 'conferencia:info' evento.id %}">Ver infon</a></td>
                </tr>
                {% endfor %} {% else %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">Warning!</h4>
                    <p class="mb-0">No hay resgistros de eventos</p>
                </div>
                <!-- <h1>No hay resgistros de eventos</h1> -->
                {% endif%}
            </tbody>
        </table>
        <div>
            <ul class="pagination">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a> {% endif %}
                </li>
                <li class="page-item">
                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a> {% endif%}
                </li>
            </ul>
        </div>
      </div>
    </div>
        {% endblock %}