{% extends 'base/base.html' %}

{% block content %}

    <div class="cajabase">

        <div class="cajaBlanca">
            {% if conferencia %}
            <h1>{{conferencia.Titulo}}</h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Informacion sobre el ponente
                      </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>{{conferencia.ponente.Nombre}}</p>
                            <p>{{conferencia.ponente.Trayectoria}}</p>
                            <p>{{conferencia.ponente.edad}}</p>
                            <p>{{conferencia.ponente.sexo}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cajaBlanca">
                <p>Fecha:{{conferencia.Fecha}}</p>
                <p>Hora inical:{{conferencia.Hora_ini}} Hora final:{{Hora_fin}}</p>
                <p>tipo de conferencia:{{conferencia.tipo}}</p>
            </div>
            <div class="cajaBlanca">
                sipnosis: {{conferencia.explicacion}}
            </div>

            <br><br>
            <!-- <button class="btn btn-lg btn-primary btn-block btn-signin" id="button" id="IngresoLog" type="submit">Registrarse</button> {%endif%} -->
            <a class="btn btn-lg btn-primary btn-block btn-signin" href="{% url 'conferencia:Registro' %}">Registrarse</a>
        </div>
    </div>
{% endblock %}