{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
<form method="post">
  {% csrf_token %}
  <div id="Contenedor">
    <div class="Icon">
      <!--Icono de usuario-->
      <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="ContentForm">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="text" class="form-control" name="username" placeholder="Usuario" aria-describedby="sizing-addon1"
          required>
      </div>
      <br>
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" name="password" class="form-control" placeholder="******"
          aria-describedby="sizing-addon1" required>
      </div>
      <br>
      <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Entrar</button>
      <div class="opcioncontra"><a href="{% url 'password_reset' %}">Olvidaste tu contraseña?</a></div>
    </div>
  </div>
</form>
{% else %}
<META HTTP-EQUIV="REFRESH" CONTENT="1;URL={% url 'conferencia:index' %}"> </head> 
{% endif %}
{% endblock %}