<!DOCTYPE html>
<html>

<head>
    {% block heade %} {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'css/materialize.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/info_style.css' %}"> {% endblock %}

    <title>{% block title %} Cotaau {% endblock %}</title>
</head>

<body>

    {% block navbar %}
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'main' %}">Cotaau</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'conferencia:home' %}">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ponentes:index' %}">Ponentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conferencia:index' %}">Eventos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true"
                        aria-expanded="false">{% if user.is_authenticated %}{{ user.username }}{% else %}Opciones{% endif %}</a>
                    <div class="dropdown-menu" x-placement="bottom-start"
                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'estudiante:editar' user.id %}">Perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Salir</a> {% else %}
                        <a class="dropdown-item" href="{% url 'estudiante:registro' %}">Sign up</a>
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a> {% endif %}
                    </div>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>


    {%else%}


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'main' %}">Cotaau</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <form class="form-inline my-2 my-lg-0" action="{% url 'registro' %}">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Registro</button>
        </form>

        <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Iniciar sesion</button>
        </form>

    </nav>

    {%endif%}
    {% endblock %} 
    {% block header %} 
    {% endblock %} 
    {% block content %} 
    {% if user.is_authenticated %}
    <div class="jumbotron jumbotron-fluid ">
            <div class="container ">
                <h1 class="display-2 ">Cotaau</h1>
                <h1>
                    <p class="lead ">¡¡¡Bienvenido!!!
                </h1>
                <h1>{{user}}</p>
            </div>
        </div>
    {% else %}
    <div class="jumbotron jumbotron-fluid ">
            <div class="container ">
                <h1 class="display-2 ">Cotaau</h1>
                <p class="lead ">¡Gracias a esta pagina podras registrarte a todas las conferencias que necesites para poder
                    completar tus creditos en nuestra division!</p>
            </div>
    
    
        </div>
    {%endif%}
    
    <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                aria-expanded="false" aria-controls="multiCollapseExample1">Nuestro objetivo</a>
        </p>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body" style="text-align: justify">
                            <strong> objetivo es poder propocionar a los alumnos la versatibilidad de poder inscribirse y
                                recibir informacion sobre las conferencias que se imparten en nuestra division para que de
                                esta manera obtengan los creditos y conocimientos para que puedan terminar
                                su carrera.</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    {% endblock %} 
    
    {% block footer %}

    <footer>
        <div>
    <table class="table table-hover" style="height: 40%">
        <tr class="table-secondary" style="text-align: left;">
      <td><b>&nbsp;&nbsp;&nbsp;Learn more</b></br></br><button type="button" class="btn btn-secondary">About COTAAU</button></br><button type="button" class="btn btn-secondary">Organización del equipo</button></br><button type="button" class="btn btn-secondary">Salvando el semestre</button></td>

      <td><b>&nbsp;&nbsp;&nbsp;Contactanos</b></br></br><button type="button" class="btn btn-secondary">Facebook</button></br><button type="button" class="btn btn-secondary">Twitter</button></br><button type="button" class="btn btn-secondary">Correo</button></td>

      <td><b>&nbsp;&nbsp;&nbsp;Involucrate</b></br></br><button type="button" class="btn btn-secondary">Reportar un Bug</button></br><button type="button" class="btn btn-secondary">Reportar un problema de seguridad</button></td>
        </tr>
    </table>
        </div>
    </footer>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js "
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin=" anonymous "></script>
    <script src="{% static 'js/bootstrap.min.js' %} "></script>
</body>

</html>