{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'css/materialize.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/info_style.css' %}">



</head>

<body>

    {% block navbar %} {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'main' %}">Cotaau</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'conferencia:home' %}">Home <span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ponentes:index' %}">Ponentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conferencia:index' %}">Eventos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% if user.is_authenticated %}{{ user.username }}{% else %}Opciones{% endif %}</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'estudiante:editar' user.id %}">Perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Salir</a> {% else %}
                        <a class="dropdown-item" href="{% url 'estudiante:registro' %}">Sign up</a>
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a> {% endif %}
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid ">
        <div class="container ">
            <h1 class="display-2 ">Cotaau</h1>
            <p class="lead ">registro</p>
        </div>
    </div>

    {%else%}


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="main">Cotaau</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


        <br>
        <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Iniciar Sesion</button>
        </form>
        <br>
        <form class="form-inline my-2 my-lg-0" action="{% url 'registro' %}">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Registrarse</button>
        </form>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid ">
        <div class="container ">
            <h1 class="display-2 ">Cotaau</h1>
            <p class="lead ">!Gracias a esta pagina podras registrarte a todas las conferencias que necesites para poder completar tus creditos en nuestra division¡</p>
        </div>
    </div>
    {%endif%} {% endblock %} {% block header %} {% endblock %} {% block content %} {% endblock %} {% block footer %}


    <!--<h5>Soy el footer del base</h5>-->
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js " integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin=" anonymous "></script>
    <script src="{% static 'js/bootstrap.min.js' %} "></script>
</body>

</html>