{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'css/materialize.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main_style.css' %}">

</head>

<body>
    <h1>
        <div>Bienvenido a</div>
        <div>
            <span>Cotaau</span>
        </div>
    </h1>
    <h1>
        Nuestro trabajo es darte una herramienta para facilitar la inscripcion a conferencias en nuestra universidad
    </h1>

    <button type="button" class="btn btn-primary btn-lg btn-block">Iniciar Sesion</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Registrarse</button>

</body>

</html>